.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  background-color: #f8f9f9;
  border-top: 3px solid #131472;
  box-shadow: 0 1px 5px #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 85%;
}

.navbar-1,
.navbar-2 {
  display: flex;
  align-items: center;
}

.nav-logo {
  padding: 5px 25px;
}

.nav-item {
  margin: 0 3px;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #454545;
  transition: background-color 0.2s;
}

.nav-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.nav-item:hover,
.slide-in-icon:hover {
  background-color: #e2e2e2;
}

.slide-in-icon {
  display: none;
  padding: 5px 6px 3px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navbar-1 form {
  position: relative;
  flex-grow: 1;
  padding: 0 12px;
}

.navbar-1 form input {
  width: 100%;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: 1px solid #0000003e;
  border-radius: 3px;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 25px;
}

.nav-links {
  padding: 7px 13px;
  border: 1px solid blue;
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-links:hover {
  background-color: #d3e4eb;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1120px) {
  .navbar-1 form {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .slide-in-icon {
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .navbar-1 .res-nav {
    display: none;
  }
}
